body {
    background-color:beige;
    font-family: courier;
}

#combatTerminal {
    height : 300px;
    width : 600px;
    border-style : solid solid solid solid;
    border-color: brown brown brown brown;
    border : 3px 3px 3px 3px;
    display: grid;
    grid-template-columns: 100px 400px 100px;
    margin: 0%;
    padding: 0%;
    background-color: tan;
}

#combatConsole{
    height : 300px;
    border-left: 3px solid brown;
    border-right: 3px solid brown;
    display: flex;
    flex-flow:row;
    margin: 0%;
    padding: 0%;
    overflow-y:scroll;
    font-weight: bold;
    background-color: tan; 
}

#combatantStats{
    height: 300px;
    border-color: brown brown brown brown;
    background-color: tan;
}

#leftPanel{
    grid-template-columns: 10px 90px 10px;
}

#leftSidePointer{
    display : inline;
}

#turnDisplay{
    justify-content: center;
    display:inline;
    color: white;
    background-color: red;
    ;
}

#rightSidePointer{
    display:inline;
}
