body {
    background-color:beige;
    font-family: courier;
}

#combatTerminal {
    height : 300px;
    width : 600px;
    border-style : solid solid solid solid;
    border-color: brown brown brown brown;
    border : 3px 3px 3px 3px;
    display: grid;
    grid-template-columns: 100px 400px 100px;
    margin: 0%;
    padding: 0%;
    background-color: tan;
}

#combatConsole{
    height : 300px;
    border-left: 3px solid brown;
    border-right: 3px solid brown;
    display: flex;
    flex-flow:row;
    margin: 0%;
    padding: 0%;
    overflow-y:scroll;
    font-weight: bold;
    background-color: tan; 
}

#combatantStats{
    height: 300px;
    border-color: brown brown brown brown;
    background-color: tan;
    font-size: 14px;
}

#leftPanel{
    grid-template-columns: 10px 90px 10px;
}

#CombatantTitle{
    padding-bottom: 7px;
    font-size: 14px;
    font-weight:bolder;
}

#currentCombatantDisplay{
    justify-content: center;
    display:inline;
    color: white;
    background-color: red;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#divider{
    border: 2px;
    border-bottom-style: ridge;
    border-color: brown;
    width: 60px;
}

#nextTurn{
    font-size: 18px;
}

#combatantList{
    justify-content: center;
    display:inline;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}